configparser
cx_Freeze
cx-oracle
dash
dash-bootstrap-components
django
django-crispy-forms
django-widget-tweaks
flask-cors
json5
json_excel_converter
lxml
pandas
pygal
pymongo
recursive_diff 
requests
XlsxWriter