[user]
	email = giovanipm@gmail.com
	name = Giovani Perotto Mesquita
[core]
	excludesFile = C:/Users/giova/.gitignore
	editor = \"C:\\Users\\giova\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
